

header {
    position: relative; /* para que su contenido absoluto se ancle aquí */
}

#volver {
    flex-direction: column;
    position: absolute;
    top: 20px;    /* ajusta según tu diseño */
    left: 20px;   /* ajusta según tu diseño */
    text-decoration: none;
    display: flex;
    align-items: center; 
}

#volver:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.boton-volver {
    width: 4rem;
    height: auto;
}

#volver span {
    font-size: 1rem;
    color:white;
}

header {
    height: 10rem;
}

header img {
    height: 10rem;
}


main {
    background-color: rgb(105, 105, 212)
}

#seccion-intro {
    background-color: rgb(188, 188, 245);
    text-align: center;
    margin: 2rem 37.5rem;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
    transition: transform 0.8s;
}

#seccion-intro:hover {
    transform:scale(1.3);
    
}

#tabla-criaturas {
    display: flex;
    justify-content: center;
    margin: 2rem;
}


#tabla-criaturas th, td{
    background-color: rgb(243, 218, 185);
    border: 2px solid black;
    padding: 8px;
    text-align: center;


}

#tabla-criaturas td  {
    background-color: antiquewhite;
    
    
    
}

#tabla-criaturas td a {
    color: black;
    text-decoration: none;
    text-overflow: none;
    font-weight: bold;
    
}

#seccion-criaturas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 300px);
    gap: 2rem;
    margin: 1rem;
 
}

.cards {
    background-color: black;
    box-shadow: 0px 0px 10px white;
    border-radius: 15px;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}



.cards > figure >img {
    border-radius: 15px;
}

.card1 {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
}

.card1 > figure > img {  /*Así voy específicamente por el hijo de cada clase*/
    width: 300px;
    
}

.card2 {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}

.card2 img{
    width: 500px;
    height: auto;
}

.card3 {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.card3 img {   /*Así, cambio cualquier img dentro de la clase*/
    width: 800px;
    height: auto;
}

.card4 {
    display: flex;
    flex-direction: row;
}
.card4 img {
    width: 300px;
}

.card5 {
    display: flex;
    flex-direction: row;
}

.card5 img{
    width: 300px;
    height: auto;
}

.card6 {
    grid-column: 2 / 4;
}

.card6 {
    display: flex;
    flex-direction: row-reverse;
}

.card6 img {
    width: 400px;
}





