body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

header {
    padding: 2rem;
    background-color: black;
    height: auto;
    color: white;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-style:oblique;
    


}

header img {
    width: 10rem;
    height: auto;
    border-radius: 100%;

}





nav {
    background-color: rgb(243, 127, 10);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 2rem;
    border-radius: 5px;
    padding : 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.5rem;

}

.logos-art {
    width: 15rem;
    height: auto;
    background-color: black;
    border-radius: 10px;
    padding-top: 10px;
    text-align: center;
    border-color: black;
    transition: transform 0.5s ;
}

.logos-art:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 10px black;
}

.logos-art a {
    text-decoration: none;
    text-overflow: none;
    color: white;
}   
.logos-fotos {
    width: 8rem;
    height: 8rem;
    border-radius: 15%;
    box-shadow: 0px 0px 5px gray;
    transition: transform 0.5s ;
}




footer {
    background-color: black;
    color: white;
    text-align: center;
    padding:2rem;
    margin-bottom: 0%;
}


@media (max-width: 479px) {
    header {
        flex-direction: column;
    }
}